/*
Gabriel Thompson
IntroCS pd06 sec10
HW05 -- Stuylin'
2021-02-23
*/

body {
    background-color: bisque;
    margin-left: 3vw;
    margin-right: 3vw;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

p, li {
    font-family: 'Shippori Mincho B1', serif;
}

.contents {
    text-decoration: none;
}

p {
    font-size: 18px;
}

li {
    font-size: 16px;
}

img {
    outline-style: dashed;
}

.main {
    padding-left: 2vw;
}
